# Pregunta 2 : Red Neuronal

In [98]:
import numpy as np
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from tensorflow.python.keras.metrics import Metric

In [77]:
df = pd.read_csv("Base_de_Datos.csv")
df = df.fillna(0)

In [78]:
df.head()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
0,1983,Activision,1.94,2,1,0,0,0,0,0,0,0,0,0,0
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
2,1984,Activision,0.27,0,0,0,0,0,0,0,1,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
4,1985,Activision,0.48,0,0,0,1,0,0,0,0,1,0,0,0

In [79]:
df.tail()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
122,2015,Activision,35.63,17,3,0,0,9,5,4,0,0,0,0,1
123,2015,Electronic Arts,45.42,4,0,0,0,8,0,15,2,3,0,0,0
124,2015,Nintendo,27.08,7,4,0,4,1,6,1,0,1,0,7,1
125,2015,Sony Computer Entertainment,11.01,5,1,0,0,1,0,3,0,0,0,0,0
126,2015,Ubisoft,12.79,14,0,0,0,3,7,6,0,0,0,0,2

In [80]:
subdf = df[df['Publisher'].str.contains('Nintendo')]
subdf.head()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
5,1985,Nintendo,49.95,1,4,0,1,0,0,1,0,0,0,0,0
6,1986,Nintendo,16.18,3,2,0,0,0,0,0,1,0,0,0,0
8,1987,Nintendo,11.95,0,0,1,0,0,0,1,0,0,2,0,0

In [81]:
subdf.tail()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
104,2011,Nintendo,51.53,6,3,1,1,1,6,0,1,2,0,5,0
109,2012,Nintendo,56.47,7,2,1,1,0,6,2,0,2,1,9,0
114,2013,Nintendo,52.79,4,5,1,1,0,4,2,0,1,0,4,1
119,2014,Nintendo,48.65,4,3,0,1,0,2,2,1,1,2,4,0
124,2015,Nintendo,27.08,7,4,0,4,1,6,1,0,1,0,7,1

In [119]:
tf.keras.losses.MeanAbsoluteError(
    reduction="auto", name="mean_absolute_error"
)

def neural_network(df, x, y):
    x_train, x_test, y_train, y_test = train_test_split(df[x], df[x])
    capa_oculta = tf.keras.layers.Dense(units = 10)
    salida = tf.keras.layers.Dense(units = 1)
    model = tf.keras.Sequential([capa_oculta, salida])
    model.compile(
    optimizer = tf.keras.optimizers.Adam(0.1),
    loss = 'mean_squared_error'
    )
    history = model.fit(x_train.values.reshape(-1, 1), y_train.values)
    mse_test = model.evaluate(x_test, y_test)
    y_pred = model.predict(x_test)
    mae = tf.keras.losses.MeanAbsoluteError()
    mae(y_test, y_pred).numpy()

In [120]:
neural_network(subdf, 'Action', 'Global_Sales')

1/1 [==============================] - 0s 453ms/step - loss: 2.7777
1/1 [==============================] - 0s 119ms/step - loss: 0.7256

In [83]:
x_train, x_test, y_train, y_test = train_test_split(subdf['Action'], subdf['Global_Sales'])

In [84]:
capa_oculta = tf.keras.layers.Dense(units = 10)
salida = tf.keras.layers.Dense(units = 1)
model = tf.keras.Sequential([capa_oculta, salida])

In [85]:
model.compile(
    optimizer = tf.keras.optimizers.Adam(0.1),
    loss = 'mean_squared_error'
)

In [86]:
history = model.fit(x_train.values.reshape(-1, 1), y_train.values)

WARNING:tensorflow:5 out of the last 7 calls to <function Model.make_train_function.<locals>.train_function at 0x000001688BB085E0> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.
1/1 [==============================] - 1s 527ms/step - loss: 3570.3926

In [87]:
mse_test = model.evaluate(x_test, y_test)

1/1 [==============================] - 1s 581ms/step - loss: 6100.0679

In [90]:
y_pred = model.predict(x_test)

In [107]:
tf.keras.losses.MeanAbsoluteError(
    reduction="auto", name="mean_absolute_error"
)

In [108]:
mae = tf.keras.losses.MeanAbsoluteError()
mae(y_test, y_pred).numpy()

56.710003