# Pregunta 1: Regresi√≥n lineal

In [3]:
import pandas as pd
import matplotlib as plt

In [9]:
df = pd.read_csv("Base_de_Datos.csv")
df = df.fillna(0)

In [10]:
df.head()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
0,1983,Activision,1.94,2,1,0,0,0,0,0,0,0,0,0,0
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
2,1984,Activision,0.27,0,0,0,0,0,0,0,1,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
4,1985,Activision,0.48,0,0,0,1,0,0,0,0,1,0,0,0

In [11]:
df.tail()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
122,2015,Activision,35.63,17,3,0,0,9,5,4,0,0,0,0,1
123,2015,Electronic Arts,45.42,4,0,0,0,8,0,15,2,3,0,0,0
124,2015,Nintendo,27.08,7,4,0,4,1,6,1,0,1,0,7,1
125,2015,Sony Computer Entertainment,11.01,5,1,0,0,1,0,3,0,0,0,0,0
126,2015,Ubisoft,12.79,14,0,0,0,3,7,6,0,0,0,0,2

In [12]:
subdf = df[df['Publisher'].str.contains('Nintendo')]
subdf.head()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
5,1985,Nintendo,49.95,1,4,0,1,0,0,1,0,0,0,0,0
6,1986,Nintendo,16.18,3,2,0,0,0,0,0,1,0,0,0,0
8,1987,Nintendo,11.95,0,0,1,0,0,0,1,0,0,2,0,0

In [13]:
subdf.tail()

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
104,2011,Nintendo,51.53,6,3,1,1,1,6,0,1,2,0,5,0
109,2012,Nintendo,56.47,7,2,1,1,0,6,2,0,2,1,9,0
114,2013,Nintendo,52.79,4,5,1,1,0,4,2,0,1,0,4,1
119,2014,Nintendo,48.65,4,3,0,1,0,2,2,1,1,2,4,0
124,2015,Nintendo,27.08,7,4,0,4,1,6,1,0,1,0,7,1