# Pregunta 2 : Red Neuronal

In [20]:
import numpy as np
import pandas as pd
import tensorflow as tf
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
from tensorflow.python.keras.metrics import Metric

In [21]:
df = pd.read_csv("Base_de_Datos.csv")
df = df.fillna(0)

In [28]:
subdf = df[df['Publisher'].str.contains('Nintendo')]
subdf

,Year,Publisher,Global_Sales,Action,Platform,Adventure,Puzzle,Shooter,Misc,Sports,Racing,Simulation,Fighting,Role-Playing,Strategy
1,1983,Nintendo,10.96,0,4,0,0,0,1,1,0,0,0,0,0
3,1984,Nintendo,45.56,1,0,0,1,2,1,2,2,0,0,0,0
5,1985,Nintendo,49.95,1,4,0,1,0,0,1,0,0,0,0,0
6,1986,Nintendo,16.18,3,2,0,0,0,0,0,1,0,0,0,0
8,1987,Nintendo,11.95,0,0,1,0,0,0,1,0,0,2,0,0
10,1988,Nintendo,36.44,0,3,0,1,0,0,1,1,0,0,0,0
12,1989,Nintendo,63.88,0,1,0,3,1,1,3,0,0,0,0,0
13,1990,Nintendo,35.49,0,1,0,2,0,0,1,2,1,0,0,0
14,1991,Nintendo,15.97,1,2,1,2,2,0,2,1,1,0,0,1
16,1992,Nintendo,38.11,1,1,1,4,0,2,0,1,0,0,0,0
17,1993,Nintendo,20.04,0,2,0,2,1,0,1,1,0,1,1,0
20,1994,Nintendo,24.99,1,4,0,0,0,0,1,0,0,0,2,0
24,1995,Nintendo,16.72,0,3,0,4,0,1,0,0,0,1,1,0
29,1996,Nintendo,73.70,1,4,0,2,0,0,1,3,1,2,2,1
34,1997,Nintendo,25.80,1,4,0,2,2,2,1,1,0,0,0,0
39,1998,Nintendo,48.41,1,3,1,1,0,1,3,2,2,0,1,2
44,1999,Nintendo,65.33,2,2,0,1,1,3,2,2,1,1,2,3
49,2000,Nintendo,34.05,2,5,0,2,1,1,3,3,0,1,2,3
54,2001,Nintendo,45.37,2,3,1,2,0,0,0,3,2,1,4,4
59,2002,Nintendo,48.31,6,4,4,0,1,2,1,0,1,0,3,0
64,2003,Nintendo,38.14,0,4,1,2,0,4,1,4,0,1,8,2
69,2004,Nintendo,60.65,5,14,7,8,3,7,3,2,0,0,5,3
74,2005,Nintendo,127.47,2,6,3,4,1,9,4,1,4,1,8,2
79,2006,Nintendo,205.61,3,4,0,9,2,15,4,1,1,2,12,0
84,2007,Nintendo,104.18,3,4,3,6,2,9,3,2,1,0,5,4
89,2008,Nintendo,91.22,1,5,2,1,0,7,2,1,3,1,8,1
94,2009,Nintendo,128.89,3,1,5,3,2,5,4,1,1,1,5,1
99,2010,Nintendo,61.07,3,4,2,3,0,5,2,0,1,0,7,1
104,2011,Nintendo,51.53,6,3,1,1,1,6,0,1,2,0,5,0
109,2012,Nintendo,56.47,7,2,1,1,0,6,2,0,2,1,9,0
114,2013,Nintendo,52.79,4,5,1,1,0,4,2,0,1,0,4,1
119,2014,Nintendo,48.65,4,3,0,1,0,2,2,1,1,2,4,0
124,2015,Nintendo,27.08,7,4,0,4,1,6,1,0,1,0,7,1

In [23]:
tf.keras.losses.MeanAbsoluteError(
    reduction="auto", name="mean_absolute_error"
)

def neural_network(df, x, y):
    x_train, x_test, y_train, y_test = train_test_split(df[x], df[x])
    capa_oculta = tf.keras.layers.Dense(units = 10)
    salida = tf.keras.layers.Dense(units = 1)
    model = tf.keras.Sequential([capa_oculta, salida])
    model.compile(
    optimizer = tf.keras.optimizers.Adam(0.1),
    loss = 'mean_squared_error'
    )
    model.fit(x_train.values.reshape(-1, 1), y_train.values)
    y_pred = model.predict(x_test)
    mae = tf.keras.losses.MeanAbsoluteError()
    mae(y_test, y_pred).numpy()

In [27]:
neural_network(subdf, 'Action', 'Global_Sales')

1/1 [==============================] - 0s 450ms/step - loss: 0.4275